NEXT_PUBLIC_SITE_URL=https://motweb-english.pages.dev
NEXT_PUBLIC_WHATSAPP_NUMBER=213559086142
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
CHARGILY_SECRET_KEY=
CHARGILY_CHECKOUT_URL=https://pay.chargily.net/api/v2/checkouts
